[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fpdf = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
